<div class="row">
  <div class="col-lg-12">
    <h1>メンバー情報</h1>
    <dl>
      <dt>お名前</dt>
      <dd style="margin:0px 0px 10px 20px"><%= @customer.full_name %></dd>
      <dt>電子メール</dt>
      <dd style="margin:0px 0px 10px 20px"><%= @customer.email %></dd>
    </dl>
    <%= link_to '編集', edit_customer_path(@customer), class: "btn btn-default" %>
    <%= link_to '戻る', tweets_path, class: "btn btn-default" %>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <h2>対応履歴</h2>
    <% @comments.each do |comment| %>
      <div class="media">
        <div class="media-body">
<!-- 下記を1行追加 -->
          <p><%= comment.user.full_name %></p>
          <%= simple_format(comment.body) %>
          <p class="text-muted">
            投稿日時：<%= comment.created_at.strftime('%Y-%m-%d %H:%M') %>
            <%= link_to "削除する", comment_path(comment), method: :delete %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>

<hr />

<div class="row">
  <div class="col-lg-12">
    <%= form_with model: @comment, url: { controller: :comments, action: :create } do |form| %>
      <div class="form-group">
        <%= form.label :body , '対応内容' %><br>
        <%= form.text_area :body, class: "form-control" %>
      </div>
      <%= form.hidden_field :customer_id, value: @customer.id %>
<!-- 下記を1行追加 -->
      <%= form.hidden_field :user_id, value: current_user.id %>
      <%= form.submit class: "btn btn-default" %>
    <% end %>
  </div>
